# Copyright (c) 2004-2015 Parallels International GmbH.
# All rights reserved.
# http://www.parallels.com

[Unit]
Description=Parallels Tools OpenGL switcher
Before=display-manager.service
After=prltools_updater.service

[Service]
Type=oneshot
ExecStart=/etc/init.d/prl-x11 start

[Install]
WantedBy=multi-user.target
