# Parallels Tools for Linux
#
# Copyright (c) 1999-2016 Parallels IP Holdings GmbH.
# All rights reserved.
# http://www.parallels.com

policy_module(prltimesync, 1.0.0)

type prltimesync_t;
type prltimesync_exec_t;
init_daemon_domain(prltimesync_t, prltimesync_exec_t)

gen_require(`
	type locale_t;
	type var_log_t;
	type proc_t;
	type etc_t;
	type var_run_t;
	type shell_exec_t;
	type shell_t;
')

allow prltimesync_t locale_t:lnk_file { open create unlink };
allow prltimesync_t locale_t:file { open create unlink };
allow prltimesync_t var_log_t:file { open read write setattr };
allow prltimesync_t proc_t:file { open read write };
allow prltimesync_t etc_t:file { open read write };
allow prltimesync_t etc_t:dir { open read write remove_name };
allow prltimesync_t shell_exec_t:file { open read execute };
allow prltimesync_t shell_t:process transition;
allow prltimesync_t self:capability sys_time;
